@model HungApple.Models.Discount

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminPanel";
}

<h3><strong>XÓA CHƯƠNG TRÌNH GIẢM GIÁ</strong></h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>

    <form asp-action="DiscountsDelete" onsubmit="deleteFunction(event)" id="deleteForm">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xác nhận xóa" class="w3-button w3-blue w3-round" />
        <a asp-action="DiscountsIndex" class="w3-button w3-blue w3-round" style="text-decoration:none;">Trở về</a>
    </form>
</div>
<script>
    function deleteFunction(e) {
        e.preventDefault();
        Swal.fire({
            title: "Bạn có muốn xóa?",
            text: "Bạn không hoàn lại điều này!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Xác nhận xóa",
            cancelButtonText: "Hủy bỏ"
        }).then((result) => {
            if (result.isConfirmed) {
                const deleteForm = document.getElementById('deleteForm');
                deleteForm.submit();
                Swal.fire({
                    title: "Đã xóa chương trình giảm giá!",
                    icon: "success",
                    showConfirmButton: false
                });
            }
            else {
                Swal.fire({
                    title: "Đã hủy!",
                    icon: "error",
                    showConfirmButton: false
                });
                setTimeout(function () {
                    window.location.href = '/Admin/DiscountsIndex';
                }, 1500);
            }
        });
    }
</script>